<p>Для доступа к разделу «Дневник» кликните на соответствующий пункт левого меню:</p>
<p><img src="/img/help/homework-1.png" /></p>
<p>После перехода в раздел «Дневник» Вы увидите расписание своего ребенка на текущую неделю.</p>
<p><img src="/img/help/homework-2.png" width="100%" /></p>
<p>Если у Вас двое или более учеников, автоматически будет открываться расписание наиболее младшего ученика. Чтобы посмотреть расписание других детей, необходимо кликнуть на вкладки «Выберите класс» и/или «Выберите ученика», после чего откроется расписание соответствующего ребенка.</p>
<p>Для навигации по датам может использоваться кнопка «Календарь», а также кнопки со стрелками «вправо» и «влево» и кнопка «Текущая неделя».</p>
<p>Посмотреть домашнее задание по каждому предмету и скачать прикрепленные файлы с заданиями Вы можете в колонке «Домашнее задание» справа от соответствующего урока.</p>
<p>Распечатать расписание на определенную дату или неделю Вы можете, нажав на кнопку «Печать».</p>
<p><a href="/help/">назад</a></p>