<p>
    Для входа на Портал введите адрес электронной почты и пароль, которые были предоставлены ранее. <br>
      Если вы не помните свой пароль или хотите его изменить, воспользуйтесь ссылкой «Забыли пароль? (изменить пароль)».
</p>

<img src="/img/help/auth-1.png" />
<p>
    <a href="/help/">назад</a>
</p>