<p>
    <a href="https://life.theschool.ru" target="_blank"><img src="https://life.theschool.ru/img/logo-full.gif" ></a>
</p>
<p><strong>Уважаемые родители!</strong></p>
<p>
    Начал работать интернет-портал Золотое сечение.LIFE.<br>
    В нем представлена информация о жизни нашей школы: расписание занятий, <br/>
    домашние задания и комментарии учителей, новостная лента, календарь событий.<br/>
    На портале есть возможность общаться с учителями, кураторами и администрацией школы посредством чата.<br/>
     Через некоторое время на портале вы сможете увидеть отметки своих детей.  
</p>
<p>
    По вопросам работы портала обращайтесь: 
</p>
<ul>
    <li>в начальной и старшей школе к Терещенковой Елене Анатольевне +7 (926) 730-18-37 (с 9:00 до 17:00) </li>
    <li>в средней школе к Алексеевой Ирине Сергеевне: +7 (499) 248-31-94 (с 9:00 до 17:00)</li>
</ul>
<p>
    Данные для входа на портал:
</p>
<ul>
    <li><a href="https://life.theschool.ru" target="_blank">https://life.theschool.ru</a></li>
    <li>E-mail: {{ user.login }}</li>
    <li>Пароль: {{ user.passwordClean }}</li>
</ul>
<p>
    Инструкция по работе с порталом находится по адресу: <a href="https://life.theschool.ru/help/" target="_blank">https://life.theschool.ru/help/</a>
</p>
<p>Администрация школы</p>