<div class="form-group">
    <label>Тип занятия</label>
    <select name="type" class="form-control" required>
        <option value="general" {% if type=='general' %} selected {% endif %}>Урок</option>
        <option value="individual" {% if type=='individual' %} selected {% endif %}>Индивидуальное занятие</option>
    </select>
</div>

<div class="form-group">
    <label>Предмет</label>
    <select name="lesson" class="form-control" required>
        <option value="">Выберите Предмет</option>
        {% for item in lessons %}
            <option value="{{ item.id }}" {% if lesson==item.id %} selected {% endif %} >{{ item.name }} ({{ item.type.name }})</option>
        {% endfor %}
    </select>
</div>

<div class="form-group">
    <label>Учитель</label>
    <select name="teacher" class="form-control" required>
        <option value="">Выберите учителя</option>
        {% for item in teachers %}
            <option value="{{ item.id }}" {% if teacher==item.id %} selected {% endif %} >{{ item.name }}</option>
        {% endfor %}
    </select>
</div>


<div class="form-group">
    <label>Группа</label>
    <select name="group" class="form-control" required>
        <option value="all-class" {% if all_class %} selected {% endif %} >Параллель</option>
        <option value="А" {% if grade_letter == 'А' %} selected {% endif %}>Класс А</option>
        <option value="Б" {% if grade_letter == 'Б' %} selected {% endif %}>Класс Б</option>
        {% for group in groups %}
            <option value="{{group.id}}" data-lesson-id="{{group.lesson.id}}" {% if group.id == group_id %} selected {% endif %}>{{group.name}} ({{group.lesson.name}})</option>
        {% endfor %}
    </select>
</div>

<div class="form-group">
    <label>Заметки</label>
    <input type="text" class="form-control" name="note"  value="{{ note }}" />
</div>

<!--input type="text" class="form-control {% if type!='individual' %}hidden{% endif %}" name="student" placeholder="Фамилия ученика" value="{{ student }}" /-->

<div class="form-group">
    <label>Начало</label>
    <input type="text" id="tmsBegin" class="form-control datetimepicker" name="tms"  value="{{ tms }}" />
    <a href="#1" class="set-tms" data-date="{{ tmsBeginDefault }}">1 сентября</a>
</div>

<div class="form-group">
    <label>Конец</label>
    <input type="text" id="tmsEnd" class="form-control datetimepicker" name="tms_end"  value="{{ tmsEnd }}" />
    <a href="#1" class="set-tms" data-date="{{ tmsEndDefault }}">конец года</a>
</div>

<input type="hidden" name="dayNum" value="{{ dayNum }}" />
<input type="hidden" name="lessonNum" value="{{ lessonNum }}" />