<h3>Инструкция по работе с домашними заданиями на электронном портале школы «Золотое сечение»</h3>

<p>
    Портал школы находится по адресу: <a href="https://life.theschool.ru/">https://life.theschool.ru/</a> <br/>
      Для работы с порталом рекомендуется использовать браузер Google Chrome 
</p>

<ol style="font-size: 15px;">
    <li><a href="/help/?page=auth">Авторизация</a></li>
    <li><a href="/help/?page=homework">Дневник (домашние задания)</a></li>
</ol>