<p>
    <a href="https://life.theschool.ru" target="_blank"><img src="https://life.theschool.ru/img/logo-full.gif" ></a>
</p>
<p><strong>Дорогие друзья!</strong></p>
<p>
    Начал работать интернет-портал Золотое сечение.LIFE.<br/>
    В нем представлена информация о жизни нашей школы: расписание занятий,<br/>
    домашние задания и комментарии учителей, новостная лента, календарь событий.  <br/>
    Через некоторое время на портале вы сможете увидеть свои отметки.
</p>
<p>
    По вопросам работы портала обращайтесь к своим кураторам!
</p>
<p>
    Данные для входа на портал:
</p>
<ul>
    <li><a href="https://life.theschool.ru" target="_blank">https://life.theschool.ru</a></li>
    <li>E-mail: {{ user.email }}</li>
    <li>Пароль: {{ user.password_clean }}</li>
</ul>
<p>
    Инструкция по работе с порталом находится по адресу:
    <a href="https://life.theschool.ru/help/" target="_blank">https://life.theschool.ru/help/</a>
</p>
<p>Администрация школы</p>